<!DOCTYPE html>
  <html lang="fr">
    <head>
      <meta charset="UTF-8">
      <title>Connexion ALSV</title>
      <link href="ressources/css/login.css" rel="stylesheet">
      <link href="ressources/img/iconeCampus.ico" rel="shortcut icon">
    </head>
    <body>    
      <div class="main-layout">
        <div class="logo-container">
          <img src="ressources/img/logoCampus.png" alt="Logo La Châtaigneraie">
        </div>
        <div class="title">
          <div id="title-text" class="title-text">Identification</div>
          </div>
          {# SECTION formulaire #}
          <div class="form-login">
            {# NOTE donner id à form si utilisation de plusieurs forms #}
            <form method="POST">
              <div class="form-login-input">
                <div class="form-login-input-title">
                  <label for="login">Nom d'utilisateur :</label>
                  <input autofocus type="text" id="login" name="login"></input>
                </div>
                <div class="form-login-input-title">
                  <label for="password">Mot de passe :</label>
                  <input type="password" id="password" name="password"></input>
                </div>
              </div>
              <div class="form-login-submit-button">
                <button type="submit" id="sumbit">Connexion</button>
              </div>
            </form>
          {# !SECTION #}
        </div>
      </div>
    </body>
  </html>