<!DOCTYPE html>
  <html lang="fr">
    <head>
    <meta charset="UTF-8">
      <title>Liste des entreprises</title>
      <link href="ressources/css/entreprise.css" rel="stylesheet">
    </head>

    <script src="ressources/js/goBack.js"></script>

    <body>
      <div class="main-layout">
        <div class="title">
          <div class="title-text">
            Liste des entreprises
          </div>
          {# SECTION Liste de l'entreprise #}
          <div class="entreprise-list">
          </div>
          <div class="form-entreprise-back-button">
           <input type="button" value="retour" id="back-button" onclick="goBack()">
          </div>
        </div>
      </div>
    </body>
  </html>

