.form-login-input {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: fit-content;
  grid-gap: 10px;
}

html {
    font-family: Roboto, sans-serif;    
}

body {
    margin: 0;
    background-color: #d5d5d5;
    justify-content: center;
    align-content: center;
}

/* TODO bandeau flex pour logo, infos utilisateurs et boutons de navigation */
.main-layout {    
    line-height: 1.5;
}


.logo-container img {
    width: 400px;
    height: auto;
}


.title-text {
    margin-top: 1.3em;
    color: #343434;
    font-size: 40px;
    margin-left: 300px;
}

.form-login {
    margin-top: 3em;
}

.form-login-input-title {
    color: #333333;
    font-size: 26px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.form-login-input input {
    text-align: left;
    height: 22px;
    border: none;
    box-shadow: 0 5px 6px rgba(0, 0, 0, .094);
}

.form-login-input input:focus-visible {
    border: 1px solid #cccccc;
}

.form-login-submit-button {
    margin-top: 3em;
}

.form-login-submit-button button {
    width: 150px;
    height: 35px;
    background-color: #7e7e7e;
    color: #EFEFEF;
    border: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 18px;
    border-radius: 3px;
    transition: .5s all;
    box-shadow: 0 5px 6px rgba(0, 0, 0, .094);
}

.form-login-submit-button button:hover {
    background-color: #9f9f9f;
    cursor: pointer;    
}

.table-list-entreprises {
    border: 2px solid #343434;
    max-width: max-content;
    margin: auto;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-top: 10px;
}



.table-list-entreprises table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-list-entreprises th {
    border: 2px solid #343434;
    padding: 2px 20px 2px 20px;
    align-content: center;
}

#login {
    align-self: center;
}

#password {
	align-self: center;
}

.header {
    margin: 0;
    display: block;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header * {
    padding: 5px 5px 5px;
    align-self: center;    
}

.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.header-logo {
    padding-left: 10em;
    text-align: left;
    float: left;
}

.header-logo img {
    width: 60px;
    height: auto;
    transition: all .277s;
}

.header-logo img:hover {
    transform: scale(1.08);
}

.header-text {
    float:right;
    display: flex;
    color: #232323;
    font-size: 42px;
}

.right {    
    text-align: right;
}

.header-text-role {
    padding-right: 1em;
}

.header-text-name {
    padding-left: 1em;
}

.form-entreprise-back-button {
    margin-top: 3em;
    margin-bottom: 3em;
}

.form-entreprise-back-button button {
    width: 150px;
    height: 35px;
    background-color: #7e7e7e;
    color: #efefef;    
    border: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 18px;
    border-radius: 3px;
    transition: .5s all;
    box-shadow: 0 5px 6px rgba(0, 0, 0, .094);
}

.form-entreprise-back-button button:hover {
    background-color: #9f9f9f; 
    cursor: pointer;    
}

#center {
    display: flex;
    justify-content: center;
    align-items: center;    
}